@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }

  .features {
    padding-top: 120px;
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .features-list .list-item {
    margin-left: 24px;
  }

  .features-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
  }

  .list-item::before {
    display: block;
    content: "";
    height: 112px;
    background-color: #f4f4fd;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }

  /* WORKS */

  .works {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .works-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work:not(:last-child) {
    display: flex;
    padding-right: 24px;
  }

  /* TEAM */

  .team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .team-text {
    margin: 0;
    padding: 32px 16px;
  }

  .team-item-text {
    margin-bottom: 8px;
  }

  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-list {
    display: flex;
    justify-content: center;
  }

  .customer {
    display: flex;
    width: 168px;
    height: 88px;
  }
}
