@media screen and (min-width: 1158px) {
  .container {
    max-width: 1200px;
  }

  .hero {
    padding: 188px 0;
    max-width: 1440px;
    height: 600px;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: 48px;

    line-height: 60px;
    font-size: 56px;
  }

  .features {
    padding-top: 120px;
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;
  }

  .features-list .list-item {
    margin-left: 24px;
  }

  .features-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
  }

  .list-item::before {
    display: block;
    content: "";
    height: 112px;
    background-color: #f4f4fd;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
  }

  /* WORKS */

  .works {
    display: flex;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .works-list {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .work:not(:last-child) {
    display: flex;
    padding-right: 24px;
  }

  /* TEAM */

  .team {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    /* margin-left: 156px;
    margin-right: 156px; */
  }

  .team-text {
    margin: 0;
    padding: 32px 16px;
  }

  .team-item-text {
    margin-bottom: 8px;
  }

  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }

  .customers-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }

  .customer {
    display: flex;
    width: 168px;
    height: 88px;
  }

  .footer {
    display: flex;
    flex-wrap: nowrap;

    /* align-items: baseline; */
  }

  .footer-logo {
    margin-right: 120px;
  }

  .footer-logo .item {
    margin-left: 0;
  }

  .footer-list {
    margin-right: 80px;
  }

  .footer-social-list {
    margin-left: 0;
  }

  .mobile-h {
    margin-left: 0;
  }

  .footer-form {
    display: flex;
    flex-wrap: nowrap;
  }

  .email-input {
    min-width: 264px;
    margin: 0;
  }

  .footer-subscribe-btn {
    margin-left: 24px;
  }
}
