@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  .hero {
    padding: 112px 0;
    max-width: 428px;
    height: 432px;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: 72px;
    line-height: 40px;
    font-size: 36px;
  }

  .features {
    padding-top: 96px;
  }

  .features-list {
    margin-left: 16px;
  }

  .features-list .list-item {
    width: 100%;
    padding-bottom: 72px;
  }

  .features-title {
    text-align: center;
    font-style: normal;
    font-weight: 700;
  }
  .list-item::before {
    display: none;
  }

  .team-list .item {
    margin-top: 72px;
    margin-bottom: 72px;
    width: 100%;
  }

  .customers-list {
    display: flex;
    flex-wrap: wrap;
  }

  .customer {
    width: calc((100% - 24px) / 2);
    margin-bottom: 72px;
  }

  .works {
    display: none;
  }

  .mobile-h {
    display: flex;
    justify-content: center;
  }

  .footer-logo .item {
    margin-left: 80px;
    margin-bottom: 72px;
  }

  .footer-social-list {
    margin-left: 110px;
    margin-bottom: 72px;
  }

  .email-input {
    width: 100%;
    margin-bottom: 16px;
  }

  .footer-subscribe-btn {
    margin-left: 110px;
  }
}
