@media screen and (min-width: 320px) {
  .container {
    max-width: 426px;
  }

  .features {
    padding-top: 96px;
  }

  .features-list .list-item {
    width: 100%;
    padding-bottom: 72px;
  }

  .features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }

  .list-item::before {
    display: none;
  }

  .team-list .item {
    margin-top: 72px;
    margin-bottom: 72px;
  }
}
