@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .features {
    padding-top: 96px;
  }

  .features-list {
    display: flex;
    flex-wrap: wrap;
  }

  .features-list .list-item {
    padding-bottom: 72px;
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    text-align: start;
  }

  .list-item::before {
    display: none;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
  }

  .team-list .item {
    width: calc((100% - 24px) / 2);
  }
  .customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .customer {
    width: calc((100% - 24px) / 3);
    width: 168px;
    height: 88px;
  }

  .works {
    display: none;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-logo {
    gap: 24px;
  }

  .footer-form {
    display: flex;
  }

  .email-input {
    min-width: 264px;
  }

  .footer-subscribe-btn {
    margin-left: 24px;
  }
}
