@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .features {
    padding-top: 96px;
  }

  .features-list .list-item {
    margin-left: 24px;
    padding-bottom: 72px;
    width: calc((100% - 24px) / 2);
  }

  .features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }

  .list-item::before {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .team-list .item {
    width: calc((100% - 24px) / 2);
  }
}
