@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .features {
    width: 100%;
    padding-top: 96px;
  }

  .features-list .list-item {
    margin-left: 24px;
    padding-bottom: 72px;
    width: calc((100% - 60px) / 4);
  }

  .features-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
  }

  .list-item::before {
    display: none;
  }
}

/* .team-list .item {
    margin-top: 72px;
    margin-bottom: 72px;
  } */
